@import "./utils";

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 70;
}

#hero {
    position: relative;
    height: 100vh;
    max-height: 700px;
    span.bg {
        position: absolute;
        width: 50%;
        height: 100%;
        background: $main;
        content: "";
        top: 0;
        left: 0;
        z-index: -1;
        transform-origin: left;
        transform: scaleX(0);
        opacity: 0;
    }
}

.navlinkItem {
    margin: 0px 5px;
    display: inline-block;
    a {
        color: $main !important;
        padding: 6px 12px;
        position: relative;
        &::before {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 3px;
            background-color: $main;
            left: 0;
            content: "";
            border-radius: 5px;
            transform: scaleX(0);
            transition: transform 0.2s ease;
        }
        &:hover::before,
        &.active::before {
            transform: scaleX(1);
        }
        &.active {
            font-weight: bold;
        }
    }
}

.logo {
    color: white;
    font-weight: bold;
}

.hero_slider {
    --offsetX: 100px;
    --offsetY: 70px;
    position: absolute;
    top: var(--offsetY);
    left: var(--offsetX);
    right: var(--offsetX);
    bottom: var(--offsetY);
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);

    .background {
        width: 100%;
        height: 100%;
        position: absolute;
        &::before {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: $main;
            content: "";
            z-index: 3;
            opacity: 0.4;
        }
        img,
        video {
            width: 100%;
            height: 100%;
            z-index: 0;
            object-fit: cover;
            object-position: center;
            position: absolute;
        }
    }

    .content {
        position: relative;
        z-index: 5;
        color: white;
        h1 {
            font-size: 85px;
        }
        p {
            max-width: 650px;
            font-size: 22px;
            line-height: 1.5;
        }
    }
}

.mobile_nav {
    display: none;
    width: 25px;
    height: 20px;
    z-index: 100;
    position: relative;
    cursor: pointer;
    line {
        stroke: $main;
        stroke-width: 7px;
        stroke-linecap: round;
        transition: stroke 0.3s ease-out;
    }
}

@media (max-width: 1000px) {
    .mobile_nav {
        display: block;
    }

    nav {
        position: fixed;
        width: 100vw;
        height: 100%;
        top: 0;
        left: 100%;
        opacity: 0;
        background: rgba(255, 255, 255, 0.7);
        backdrop-filter: blur(10px);
        z-index: 10;
        justify-content: center;

        ul {
            flex-direction: column;
            height: 85vh;
            justify-content: space-evenly;
            li.navlinkItem {
                overflow: hidden;
                display: block;
                a {
                    font-family: "PlayFair Display";
                    font-size: 26px;
                    padding: 10px 16px;
                    display: inline-block;
                    font-weight: 700;
                    text-transform: uppercase;
                    opacity: 0;
                    &::before {
                        bottom: 50%;
                        left: 0;
                        transform: translateY(50%) scaleX(0);
                        transition: transform 0.3s ease;
                        transform-origin: right;
                    }
                    &.active::before,
                    &:hover::before {
                        transform: translateY(50%) scaleX(1);
                        transform-origin: left;
                    }
                }
            }
        }
    }

    .hero_slider {
        --offsetX: 50px;
        --offsetY: 70px;
        margin-top: 20px;
        .content {
            position: relative;
            z-index: 5;
            color: white;
            h1 {
                font-size: 40px;
            }
            p {
                font-size: 14px;
                line-height: 1.5;
            }
        }
    }
}

@media (max-width: 500px) {
    #hero {
        padding: 0px 25px !important;
    }

    header.px-5 {
        padding: 1rem 20px !important;
    }
    .hero_slider {
        --offsetX: 0px;
        --offsetY: 0px;
        margin-top: 0px;
        .content {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            button {
                font-size: 12px;
            }
        }
    }
}

.link-drop {
    position: relative;
    .dropdown {
        opacity: 0;
        position: absolute;
        z-index: -99;
        pointer-events: none;
        transition: all 0.5s ease-out;
        min-width: 170px;
        background: $main;
        ul li a {
            box-shadow: none;
            border: none;
            border-radius: 0px;
            transition: all 0.5s ease-out;
            padding: 10px;
            color: white !important;
            background: none;
            &::before {
                content: unset;
            }
            &:hover {
                background: #678df8;
            }
        }
    }

    &:hover .dropdown {
        opacity: 1;
        visibility: visible;
        z-index: 99;
        pointer-events: all;
    }
}

#hero {
    .hero_slider {
        .hero-slider-wrapper {
            transition-timing-function: cubic-bezier(0.65, 0.05, 0.36, 1);
            .hero-slider-item {
                overflow: hidden;
                img,
                video {
                    transform: scale(1.5);
                    transition: transform 2s cubic-bezier(0, 0, 0, 0.99) 0.75s;
                }
            }
            .content {
                transition: clip-path 2s cubic-bezier(0, 0, 0, 0.96);
                transition-delay: 1.25s;
                clip-path: circle(20px at 0% 0%);
                h1,
                p,
                button {
                    opacity: 0;
                    transition: transform 0.75s ease-out, opacity 0.75s ease-out;
                    transform: translateY(20px);
                }
                h1 {
                    transform: rotate(-20deg) translateY(20px);
                    transform-origin: 30% 50%;
                    transition-delay: 1s;
                }
                p {
                    transition-delay: 1.2s;
                }
                button {
                    transition-delay: 1.5s;
                }
            }

            .hero-slider-item.swiper-slide-active {
                img,
                video {
                    transform: scale(1);
                }
                .content {
                    clip-path: circle(1000px at 0% 0%);
                    h1,
                    p,
                    button {
                        opacity: 1;
                        transform: translateY(0px);
                    }

                    h1 {
                        transform: rotate(0deg) translateY(0px);
                    }
                }
            }
        }
    }
}

@media (max-width: 500px) {
    .mobile_nav {
        line {
            stroke: white;
        }
    }
    #hero {
        .hero_slider {
            .hero-slider-wrapper {
                .hero-slider-item.swiper-slide-active {
                    .content {
                        clip-path: circle(500px at 0% 0%);
                    }
                }
            }
        }
    }
}

@media (max-width: 1000px) {
    .link-drop div.dropdown {
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 100%;
        opacity: 1;
        background: rgba(255, 255, 255, 0.7);
        backdrop-filter: blur(10px);
        z-index: 10;
        justify-content: center;
        transform: translate(0px, 0px) !important;
        display: flex;
        align-items: center;
        pointer-events: all;
        &::before,
        &::after {
            content: unset;
        }
        ul {
            flex-direction: column;
            height: 85vh;
            justify-content: space-evenly;
            align-items: center;
            li {
                overflow: hidden;
                display: block;
                a {
                    font-family: "PlayFair Display";
                    font-size: 26px;
                    padding: 10px 16px;
                    display: inline-block;
                    font-weight: 700;
                    text-transform: uppercase;
                    opacity: 0;
                    text-align: center;
                    width: 100%;
                    background: none;
                    &::before {
                        content: unset;
                    }
                }
            }
        }
    }
}
