@import "./utils";

div#services {
    .header h1 {
        padding: 4rem;
        background: $main;
        color: white;
        font-weight: 600;
    }
    .grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, 320px);
        gap: 30px;
        justify-content: space-around;
        align-items: center;
        max-width: 1450px;
        margin: auto;
        .grid_item {
            width: clamp(250px, 100%, 320px);
            height: 500px;
            padding: 3em 2em;
            font-size: 10px;
            display: flex;
            flex-direction: column;
            position: relative;
            transition: box-shadow 0.3s ease-out;
            overflow: hidden;
            box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.05);

            .icon {
                font-size: 7em;
                color: $main;
                margin-bottom: 1.625rem;
            }

            .content {
                color: #444;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                h3 {
                    font-weight: bold;
                    font-size: 3em;
                    margin-bottom: 20px;
                }
                p {
                    font-size: 1.8em;
                }
            }

            .cta {
                button {
                    position: relative;
                    margin-top: auto;
                    display: inline;
                    float: right;
                    z-index: 3;
                    font-weight: bolder;
                    background: none;
                    font-size: 2em;
                    padding: 0.5em 1em;
                    transition: 0.3s ease-out 0.3s;
                    border-radius: 5px;

                    span {
                        display: inline-block;
                        transition: 0.3s ease-out;
                        position: relative;
                        top: 2px;
                        left: 5px;
                    }
                    &::before {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 3.5em;
                        height: 100%;
                        background: #f5f5f5;
                        z-index: 1;
                        transition: 0.3s ease-out;
                    }

                    a {
                        position: relative;
                        z-index: 2;
                        color: #444;
                        transition: 0.3s ease-out;
                    }

                    &:hover::before {
                        left: calc(100% - 3.5em);
                        transform: scaleX(0);
                    }

                    &:hover {
                        background: $main;
                    }

                    &:hover a {
                        color: white;
                    }
                }
            }

            &::before {
                position: absolute;
                content: "";
                width: 60%;
                border-radius: 0px 0px 5px 5px;
                height: 8px;
                background: $main;
                top: 0;
                left: 20%;
                transform: translateY(-100%);
                transition: 0.3s ease-out;
                pointer-events: none;
            }
            &::after {
                position: absolute;
                content: "";
                width: 400px;
                height: 400px;
                background: $main;
                top: 60%;
                left: 40%;
                opacity: 0.1;
                border-radius: 50%;
                transition: 0.3s ease-out;
                pointer-events: none;
                transform: scale(0.4);
                opacity: 0;
            }

            &:hover {
                box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.15);
                &::before {
                    transform: translateY(0%);
                }
                &::after {
                    transform: scale(1);
                    opacity: 0.1;
                }
            }
        }
    }
}

@media (max-width: 400px) {
    div#services {
        .grid {
            grid-template-columns: 1fr;

            .grid_item {
                width: 100%;
            }
        }
    }
}
